body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
  }
  .container
  {
    background-color: rgb(221, 221, 221);
    padding:20px;
    border-radius: 8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    width:300px;
  }
  h1{
    text-align:center;
    color:rgb(56, 54, 54);
  }
  input{
    background-color:rgb(202, 186, 190);
  }
  input[type="text"]
  {
    width:70%;
    padding:8px;
    margin-right:5px;
  }
  button{
    padding:8px 12px;
    cursor:pointer;
    background-color:chocolate;
   border-radius:4px;
  }
  button:hover
  {
    background-color: orangered;
  }
  ul{
    list-style:none;
    padding:0;
  }
  li{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:5px 0;
    background-color: beige;
    padding:6px;
    border-radius:4px;
  }
  li button{
    background:red;
    border:none;
    padding:4px 8px;
    border-radius:4px;
  }
